
<!doctype html>
<html>

<head>
    <title>Sumo Parameter Automation</title>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'SPA/style.css' %}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a class="btn" href="{% url 'home' %}" role="button">Home Page</a></li>
            <li><a class="btn" href="{% url 'map' %}" role="button">OSM karta</a></li>
        </ul>
    </nav>
</header>


<br>
<br>

 <p class="a">Name: Andre Garašić</p>
 <p class="a">Adress: Sv. Martin pod Okićem 59, 10435 Samobor</p>
 <p class="a">Email: andre.garasic@gmail.com</p>





</body>

</html>