
<!doctype html>
<html>

<head>
    <title>Sumo Parameter Automation</title>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'SPA/style.css' %}">
</head>
<body>
<header>
    <nav>
       <ul>
            <li><a class="btn" href="{% url 'map' %}" role="button">Stvori
                novi zapis
            </a></li>
            <li><a class="btn" href="{% url 'contact' %}"
                   role="button">Contact info</a></li>
        </ul>
    </nav>
</header>
<br>
<br>
Uspješno spremljeno!

</body>
</html>
