<!doctype html>
<html>

<head>
    <title>Sumo Parameter Automation</title>
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'SPA/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">



</head>
<body>

<ul>
    <li><a class="btn" href="{% url 'contact' %}" role="button">Contact info</a></li>
    <li><a class="btn" href="{% url 'map' %}" role="button">OSM karta</a></li>
    <li><a class="btn" href="{% url 'home' %}" role="button">Home</a></li>
</ul>

</body>



</html>